<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('../partials/head.ejs') %>

  <body>
    <div class="cardContainer">

      <h1>Create a Course</h1>

      <div class="createcourse form">
        <form action="/courses" method="POST">
          <div class="inputGroup">
            <label id="labels" for="coursename">Course Name: </label>
            <input type="text" id="coursename" name="coursename" required>
          </div>
          <div class="inputGroup">
            <label id="labels" for="description">Description: </label>
            <textarea id="description" name="description" required></textarea>
          </div>
          <div class="inputGroup">
            <label id="labels" for="subjectarea">Subject Area: </label>
            <input type="text" id="subjectarea" name="subjectarea" required>
          </div>
          <div class="inputGroup">
            <label id="labels" for="credithours">Credit Hours: </label>
            <input type="number" id="credithours" name="credithours" min="1" max="12" required>
          </div>
          <div class="btnContainer margin-none ">
            <button id="allBtns">Create Course</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Nav -->
    <%- include('../partials/nav.ejs') %>

    <!-- Footer -->
    <%- include('../partials/footer'); -%>

      <script src="js.js"></script>
  </body>

</html>
