<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('./partials/head.ejs') %>

<body>
  <br>
  <br>
  <br>
  <h1>Error 404 - Page Not Found</h1>

  <!-- Nav -->
  <%- include('./partials/nav.ejs') %>

  <!-- Footer -->
  <%- include('./partials/footer'); -%>

  <script src="js.js"></script>
</body>

</html>
