<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('./partials/head.ejs') %>

<body>
  <br>
  <br>
  <br>
  <h1>Welcome!</h1>
  <p>Under construction... please mind our dust!!</p>
  <p>Welcome to (insert name here)!</p>
  <br>
  <h1>About</h1>
  <p>Students may add or drop courses to and from their schedules. Teachers can create, modify, and delete courses as necessary. All students and teachers can see all available courses.</p>
  <p>More information will be coming soon!</p>
  <br>
  <h1>Login</h1>
  <p>To access all available courses, please login to begin!</p>
  <p>Student Login</p>
  <p>Teacher Login</p>

  <!-- Nav -->
  <%- include('./partials/nav.ejs') %>

  <script src="js.js"></script>
</body>

</html>
