<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('./partials/head.ejs') %>

<body>
  <br>
  <br>
  <br>
  <h1>Welcome!</h1>
  <p>Under construction... please mind our dust!!</p>
  <br>
  <h1>About</h1>
  <p>More information coming soon.</p>
  <br>
  <h1>Login</h1>
  <p>Student Login</p>
  <p>Teacher Login</p>

  <!-- Nav -->
  <%- include('./partials/nav.ejs') %>

  <script src="js.js"></script>
</body>

</html>
