<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('./partials/head.ejs') %>

<body>

  <div class="indexContainer">

    <h1>WELCOME!</h1>
    <p>Browse our website and tell us what you think!<p>
    <!-- <p>Welcome to (insert name here)!</p> -->
    <h1 class="m-t-4">ABOUT</h1>
    <p>Students may add or drop courses to and from their schedules. Teachers can create, modify, and delete courses as necessary. All students and teachers can see all available courses.</p>
    <p class="m-t-4">More information will be coming soon!</p>
  </div>

  <!-- Nav -->
  <%- include('./partials/nav.ejs') %>

  <script src="js.js"></script>
</body>

</html>
