<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('./partials/head.ejs') %>

<body>
  <br>
  <br>
  <br>
  <h1>Login</h1>
  <p>Under construction... please mind our dust!</p>

  <a href="/courses" class="studentloginBtn">Student Login</a>
  <a href="/courses" class="teacherloginBtn">Teacher Login</a>

  <!-- Nav -->
  <%- include('./partials/nav.ejs') %>

  <script src="js.js"></script>
</body>

</html>
