<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">

<!-- Head -->
<%- include('./partials/head.ejs') %>

<body>
  <div class="cardContainer">

    <h1>LOGIN</h1>
    <p>Select a Login</p>
    <div class="btnContainer">
      <a href="/courses" id="allBtns" class="studentloginLinkBtn">Student Login</a>
      <a href="/courses" id="allBtns" class="teacherloginLinkBtn">Teacher Login</a>
    </div>
  </div>

  <!-- Nav -->
  <%- include('./partials/nav.ejs') %>

  <script src="js.js"></script>
</body>

</html>
