:root {
   --space-half: 0.5rem;
   --space-1: 1rem;
   --space-1-5: 1.5rem;
   --space-2: 2rem;
   --space-3: 3rem;
   --space-4: 4rem;
   --space-5: 5rem;
   --text-color-white: #fff;

}
/*---------------------utility classes---------------*/
/*-remove margin from button containers-*/
.btnContainer.margin-none{margin-top: 0;}
.m-t-1{margin-top: 1rem}
.m-t-2{margin-top: 2rem}
.m-t-3{margin-top: 3rem}
.m-t-4{margin-top: 4rem}
.m-t-5{margin-top: 5rem}
.m-b-1{margin-bottom: 1rem}
.m-b-2{margin-bottom: 2rem}
.m-b-3{margin-bottom: 3rem}

.noDecoration{text-decoration: none;}
/*---------------------------------------------------*/
.componentHeader{
   border: 2px solid #000;
   padding: 1rem;
   margin: 2rem 0rem;
}
html, body {
   background-color: #111;
   padding: 0;
   margin: 0;
}
* {
   font-family: sans-serif;
   color: var(--text-color-white);
   box-sizing: border-box;
}
.links {
   display: flex;
}
h2 {
   pointer-events: none;
}
.links .link a {
   text-decoration: none;
}
.links .link {
   display: flex;
   align-items: center;
   padding: 0 var(--space-1-5);
   transition: all 0.25s;
   cursor: pointer;
}
.links .link:hover {
   background-color: #333;
}
.wrapper {
   height: 100rem;
}
.app {
   position: fixed;
   top: 0;
   width: 100%;
   opacity: 0;
   height: 4rem;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: #000;
   transition: all 0.5s;
}
.app.show{
   opacity: 1;
}
.app .left {
   padding-right: var(--space-5);
}
.app .right {
   padding-left: var(--space-5);
   height: 100%;
}

.app .right .links {
   height: 100%;
   width: 100%;
}

/* Form - can be changed later */
.createcourse input, textarea, button {
  display: block;
  color: black;
}

/*-------------------------------Index----------------------------*/
body .indexContainer {
   width: 50rem;
}
/*-------------------------------login_page buttons---------------*/
.indexContainer,
.cardContainer {
   margin: 8rem auto;
   padding: var(--space-2);
   border-radius: 0.5rem;
   width: 30rem;
   text-align: center;
   background: #222;
   box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.25)

}
.btnContainer{
   margin: 3rem auto;
   display: flex;
   gap: 1.5rem;
   justify-content: center;
   align-items: center;
}
#allBtns {
   color: #fff;
   background: #ee2121;
   padding: var(--space-1);
   border-radius: 0.25rem;
   text-decoration: none;
   box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
   font-weight: bolder;
   border: none;
}
#allBtns:hover {
   filter: brightness(130%);
}

/*-------------------------------Course select---------------*/
.courseContainer{
   width: 25rem;
   margin: 2rem auto;
}
   /*-------------------------------Course create---------------*/
.inputGroup textarea,
.inputGroup input{
   width: 100%;
   margin-top: var(--space-half);
   margin-bottom: var(--space-1);
   padding: var(--space-half) ;
   border-radius: 0.25rem;
   border: 1px solid #555;
   color: #fff;
   background: none;
}
.inputGroup textarea {
   padding: var(--space-1);
}
.rolemenu {
  background: #222;
}


/* --- Error Messages from Server for Forms (login and signup) ---*/
.email.error.message, .password.error.message {
  color: #fab8b8;
}
